.project_container{
    width: 77.2vw;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 140px;

}

.project_heading{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 1110px;
    margin: auto;
}

.project_heading h2{
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: -2.5px;
    text-align: left;
    width: 334px;
    height: 88px;
    margin-top: 0;
}

.project_card{
    margin: auto;
    margin-top: 80px;
    display: grid;
    column-gap: 30px;
    row-gap: 69px;
    grid-template-columns: repeat(2, 1fr);
    width: 1110px;
    height: 1599px; 

}

.button{
    width: 120px;
    height: 38px;
}


@media screen and (max-width: 1024px) {
    .project_container{
        width: 706px;
        padding-top: 100px;
    }

    .project_heading{
        width: 706px;
    }

    .project_heading h2{
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -2.045454502105713px;
        text-align: left;

    }

    .project_card{
        margin: auto;
        margin-top: 60px;
        display: grid;
        column-gap: 24px;
        row-gap: 60px;
        grid-template-columns: repeat(2, 1fr);
        width: 708px;
        height: 1314px; 
    
    }

    .project_card img{
        width: 342px;
        height: 253px;
    }

}

@media screen and (max-width:450px) {
    .project_container{
        width: 343px;
    }

    .project_heading{
        width: 343px;
        display: flex;
        align-items: center;
    }

    .project_heading h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1.1363636255264282px;
        text-align: left;
        width: 152px;
        height: 40px;
    }

    .button{
        width: 120px;
    }

    .project_card{
        margin: auto;
        margin-top: 40px;
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(1, 1fr);
        width: 343px;
        height: 2668px;
        margin-bottom: 80px;
    }
    
}

