.skills_card h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.5px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 14px;
    height: 56px;
}

.skills_card p{
    color:#D9D9D9;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.skills_card{
    width: 345px;
    height: 98px;
}

@media screen and (max-width:450px) {
    .skills_card h2{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        height: 40px;
        letter-spacing: -1px;
        width: 345px;
        text-align: center;
        margin: auto;
        margin-bottom: 0;
    }

    .skills_card p{
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;

    }

    .skills_card{
        width: 345px;
        height: 67px;
    }
    
}